.new-activity-page {
  /* height = 100% - padding */
  height: calc(100% - 2 * 2em);
  /* width = 100% - padding */
  width: calc(100% - 2 * 2em);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  background-color: var(--main-background-color);
  overflow-y: scroll;
  overflow-x: hidden;
}
