:root {
  --blue: #83bffe;
  --gray: #cccccc;
}

.chat-message-bubble {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 10px;
}

.chat-message-bubble--mine {
  justify-content: flex-end;
}

.chat-message-bubble__content {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--gray);
  color: rgb(0, 0, 0);
  max-width: 75%;
}

.chat-message-bubble--mine .chat-message-bubble__content {
  align-items: flex-end;
  background-color: var(--blue);
}

.chat-message-bubble__name {
  margin-bottom: 5px;
}

.chat-message-bubble--mine .chat-message-bubble__name {
  text-align: right;
}

.chat-message-bubble__time {
  font-size: 0.8em;
  color: rgb(0, 0, 0);
}

.chat-message-bubble--mine .chat-message-bubble__time {
  color: rgb(0, 0, 0);
}
