.set-new-password-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--dark-brown);
  border-radius: 10px;
  padding: 1.5em;
}

#set-new-password-title {
  color: var(--dark-brown);
}

.set-new-password-form-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.set-new-password-form-container input {
  height: fit-content;
  /* width = 100% - padding */
  width: calc(100% - 2 * 0.75rem);
  min-width: 15em;
  font-size: large;
  padding: 0.75rem;
  margin-bottom: 1em;
}

.submit-new-password-form-button-container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-new-password-form-container button {
  color: var(--main-background-color);
}

.set-new-password-instructions {
  /* width = 100% - padding + borders */
  width: calc(100% - 2 * 0.5rem + 2 * 1px);
  margin-bottom: 1em;
}

.request-new-password-reset-token-button-container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-new-password-reset-token-button-container button {
  color: var(--main-background-color);
}
