.navigation-bar-container {
  height: 6em;
  width: 100vw;
  background-color: var(--main-background-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.navigation-left {
  height: 100%;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.navigation-left img {
  height: calc(100% - 20px);
  width: auto;
  object-fit: contain;
}

.logged-out-navigation-links {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logged-out-navigation-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.logged-out-navigation-links li {
  margin: 25px;
}

.logged-out-navigation-links a {
  text-decoration: none;
}

.logged-out-navigation-links a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.logged-out-navigation-links a.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.logged-out-navigation-button-container {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}
