.caretaker-sidebar-container {
  /* height = 100% - top padding */
  height: calc(100% - 1em);
  width: 16em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1em;
  background-color: var(--light-green);
}
