.created-activities-page {
  /* height = 100% - padding */
  height: calc(100% - 2 * 2em);
  /* width = 100% - padding */
  width: calc(100% - 2 * 2em);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-background-color);
}

.created-activities-header {
  width: fit-content;
  height: fit-content;
}

.created-activities-header h2 {
  margin: 0;
}

.created-activities-list-container {
  height: fit-content;
  max-height: 80%;
  width: 90%;
  max-width: 40em;
  overflow-y: scroll;
}
