.button-container {
  height: fit-content;
  width: fit-content;
}

.button {
  padding: 0.75rem;
  color: var(--main-text-color);
  border-style: none;
  border-width: 1px;
  border-radius: 5px;
}

.button-container button:hover {
  cursor: pointer;
  text-decoration: underline;
  box-shadow: 1px 1px 5px black;
}

.button-container button:active {
  box-shadow: 0px 0px 3px black;
  filter: brightness(85%);
}

.action {
  background-color: var(--dark-brown);
  color: var(--main-background-color);
}

.confirm {
  background-color: var(--bright-green);
}

.danger {
  background-color: var(--red);
  color: var(--main-background-color);
}

.unfriend {
  background-color: var(--main-background-color);
  color: var(--red);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--red);
}
