.messages-page {
  height: 100vh;
  padding: 1em;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
}

.messages-page__friend-list-item-container {
  padding: 0.5em;
  cursor: pointer;
}

.messages-page__friend-list-item-container.selected {
  background: var(--light-green);
}
