:root {
  --main-text-color: #141204;
  --main-background-color: #fffbf4;
  --dark-brown: #604137;
  --light-brown: #edd892;
  --light-green: #d8e4cf;
  --bright-green: #6f923e;
  --dark-bright-green: #52b407;
  --red: #d60e0e;
}

h1,
h2,
h3,
h4 {
  font-family: "Lilita One", sans-serif;
  color: var(--main-text-color);
}

p,
a,
label,
li,
button {
  font-family: "Tenor Sans", sans-serif;
  font-size: large;
  color: var(--main-text-color);
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
