:root {
  --main-text-color: #141204;
  --main-background-color: #fffbf4;
  --dark-brown: #604137;
  --light-brown: #edd892;
  --light-green: #d8e4cf;
  --bright-green: #6f923e;
  --dark-bright-green: #52b407;
  --red: #d60e0e;

  /* Set color scheme for the calendar element on the news page */
  --fc-button-text-color: var(--main-background-color);
  --fc-button-bg-color: var(--dark-brown);
  --fc-button-border-color: var(--dark-brown);
  --fc-button-hover-bg-color: #553a31;
  --fc-button-hover-border-color: #553a31;
  --fc-button-active-bg-color: #4d342b;
  --fc-button-active-border-color: #4d342b;
  --fc-event-text-color: var(--main-background-color);
  --fc-page-bg-color: var(--main-background-color);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Lilita One", sans-serif;
  color: var(--main-text-color);
}

p,
a,
label,
li,
button {
  font-family: "Tenor Sans", sans-serif;
  font-size: large;
  color: var(--main-text-color);
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
